body {
	background-image: url("http://www.powerpointhintergrund.com/uploads/blue-ppt-backgrounds-21.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}	

h1 {
	text-align: center;
	font-family: "Times New Roman", serif;
}

#logo {
	max-width: 400px;
	max-height: 700px;
	padding-top: 20px;
}

.validate {
	line-height: 10px;
	font-size: 8px;
	color: #5F676B;
}

nav {
	background-color: pink;
}


.card {
	max-height: 300px;
	max-width: 300px;
	image-rendering: 100px 100px;
}

.loginDisplay{
	display:none;
}

#btn {
	background: #5F676B;
	overflow: hidden;
    margin-left:auto;
    margin-right:0px;
}

#coverpic {
	max-width: 1000px;
	max-height: 1000px;
}

#weather-icon {
	float: left;
	margin-right: 10px;
}

i.wi {
	font-size: 1.5em;
}

.max-temp {
	font-size: 1.5em;

}