

body {
	background-image: url("http://www.powerpointhintergrund.com/uploads/blue-ppt-backgrounds-21.jpg");
	max-width: 1500px;
}	

h1 {
	text-align: center;
	/*background-color: lightblue;*/

}

nav {
	/*background-color: orange;*/
}

.card {
	max-height: 250px;
	max-width: 250px;

}