



body {
	background-image: url("http://www.powerpointhintergrund.com/uploads/blue-ppt-backgrounds-21.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}	

h1 {
	text-align: center;
	font-family: "Times New Roman", Ariel, serif;
}

#logo {
	max-width: 400px;
	max-height: 700px;
	padding-top: 20px;
}

.card {
	max-height: 600px;
	max-width: 400px;
	image-rendering: 100px 100px;
	line-height: 15px;
	margin; 0px;
}

.loginDisplay{
	display:none;
}

#btnLogout, #btnLogin, .btn {
	background: #5F676B;
	overflow: hidden;
    margin-left:auto;
    margin-right:0px;
}

#weather-icon {
	float: left;
	margin-right: 10px;
}

#wCard {
	max-height: 150px;
	max-width: 400px;
	float:rigth;
}

i.wi {
	font-size: 1.5em;
}

.max-temp {
	font-size: 1.5em;

}